<button type="button" class="mobile-menu btn p-0" {{on "click" this.toggleMenu}}>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" >
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
  </svg>
</button>

<div class="mobile-menu__content {{this.menuState}}">
  <ul class="nav mobile-links">
    <li class="mobile-links__item"><a href="#" {{on "click" this.toggleMenu}}>Home</a></li>
    <li class="mobile-links__item"><a href="#" {{on "click" this.toggleMenu}}>Services</a></li>
    <li class="mobile-links__item"><a href="#" {{on "click" this.toggleMenu}}>Fleets</a></li>
    <li class="mobile-links__item"><a href="#" {{on "click" this.toggleMenu}}>News</a></li>
  </ul>

  <button type="button" class="mobile-menu__close-btn btn p-0" {{on "click" this.toggleMenu}}>
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="auto" viewBox="0 0 400 400">
      <path d="M18 1C6 5 0 13 0 26s-6 6 83 95l79 79-78 79c-89 89-83 83-84 95-1 15 10 26 26 26 13 0 5 6 95-83l79-79 79 79c90 89 82 83 95 83 16 0 27-11 26-26-1-12 5-6-84-95l-78-79 79-79c89-89 83-82 83-95 0-16-10-26-26-26-12 0-6-5-95 84l-79 79-79-79C55 18 40 4 37 2c-5-2-14-2-19-1" fill-rule="evenodd"/>
    </svg>
  </button>
</div>
